<%- include extend/header_device.ejs %>

	<table id="table1"  class="display" cellspacing="0" width="100%">
	</table>
	<input type="hidden" id="mac" name="mac" value="<%= mac%>">
	<input type="hidden" id="date" name="date" value="<%= date%>">
	<input type="hidden" id="option" name="option" value="<%= option%>">

<%- include extend/footer %>